/*  */
.btn-getin{
    background-color: var(--main-color);
    color: var(--white);
    /* height: 3.5rem; */
    font-size: 1.3rem;
    /* width: 25%; */
    padding: 1.3rem 4rem;
    border-radius: 0;

}

.btn-getin:hover{
    color: var(--white);
} 
.title-about p{
    font-size: 1.8rem;
}
@media screen and (max-width: 375px){
    .title-about p{
        font-size: 1.3rem;
    }
}
.location{
    background-color: var(--dark-white);
}
.location .content{
    padding-top: 80px;
    padding-bottom: 50px;
}
.location .content .title h2{
    color: var(--main-color);
    font-weight: 600;

}
.location .content .address .card{
    border: none;
    padding: .9rem;
    background-color: var(--white);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: var(--main-color);
}
/* .location .content .address .card h4, */
.location .content .address .card p{
    font-size: 18px;
}
.location .content .contact{
    margin-top: 5rem;
}
.location .content .contact img{
    padding-bottom: 1rem;
}
.location .content .contact a{
    color: var(--sec-color);
    font-weight: 400;
    font-size: 1.4rem;
}
.modal .modal-header ,.modal .modal-footer{
    border-top: none;
    border-bottom: none;
}
.modal .modal-header{
    justify-content: center;
    padding: 0 0 1rem;
}
.modal .modal-header .modal-title{
    color: var(--main-color);
}
.modal .btn{
    outline: none !important;
}
.modal .btn:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.modal .modal-body .input[type = 'text']{
    padding: .5rem 0;
}
.modal .modal-footer .btn-getin{
    padding: .5rem 2rem;
    font-size: 1rem;
}