/* button toggle */
.switch {
    background-color: var(--bg-color);
    position: relative;
    zoom: 1;
    width: 45%;
    display: inline-block;
    border-radius: 10px;
    height: 5rem;
}
@media screen and (max-width: 991.5px) {
    .switch{
        width:70%;
    }
}
@media screen and (max-width: 767.5px) {
    .switch{
        width: 100%;
    }
}
  /* .switch:before, .switch:after {
    content: " ";
    
    display: table;
  }
  .switch:after {
    clear: both;
  } */
  .switch label {
    float: left;
    width: 50%;
    position: relative;
    z-index: 2;
    /* line-height: 40px; */
    text-align: center;
    cursor: pointer;
    color: var(--main-color);
    border-radius: 10px;
    padding: 1.3rem 0 1.3rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s ease;  
  }
  @media screen and (max-width: 375.5px) {
      .switch label{
          font-size: 1rem;
      }
  }
  
  .switch input[type="radio"] {
    display: none;
  }
  .switch input[type="radio"] + label svg path{
    
    fill: var(--main-color);
  }
  .switch input[type="radio"]:checked + label svg path{
   fill: var(--bg-color);
    
  }
  .switch input[type="radio"]:checked + label {
    color: var(--bg-color);

  }
  .switch span {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: all 200ms ease;
  }
  .switch span.right {
    left: 50%;
    border-radius: 10px;
    transition: all 200ms ease;
  }
  /* 365-pref */
  .pref-365{
      background-color: var(--dark-white);
      padding: 80px 0;
  }
  .pref-365 h2{
      color: var(--main-color);
      font-weight: 700;
  }
  .pref-365 p{
      color: var(--main-color);
      font-weight: 500;
      font-size: 1.3rem;
  }
  @media screen and (max-width: 575.5px) {
      .pref-365 p{
          font-size: 1rem;
      }
  }
  .pricing-365{
      padding: 100px 0;
  }
  .pricing-365 .card{
      padding: 1rem .5rem;
      background: var(--bg-color);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: none;
      transition: transform .2s ease-in-out; 
      /* transition: 0.35s; */
      /* clip-path:inset(0 0); */
  }
  
   .card .card-header,
   .card .card-footer{
      background-color: transparent;
      border-bottom:none ;
      /* border-top: none; */
  }
  .pricing-365 .card ul{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
  }
  .pricing-365 .card ul li{
      padding: .7rem 0;
      display: flex;
  }
  .pricing-365 .card ul li svg{
      /* padding-right: .5rem; */
      align-self: center;
  }
  .pricing-365 .card ul li span{
      color: var(--sec-color);
      font-weight: 500;
      font-size: 1.2rem;
      padding-left: .5rem;
  }
  .pricing-365 .card.card.spec ul li span{
      color: var(--bg-color);
  }
  .pricing-365 .card .card-footer{
      border-top: 1px dashed #A9A9AA;
  }
  .pricing-365 .card .card-footer h6 {
      color: var(--main-color);
      font-weight: 700;
      font-size: 1.4rem;
  }
  .pricing-365 .card.card.spec .card-footer h6{
      color: var(--org-color);
  }
  .pricing-365 .card .card-footer h6 small{
    font-weight: 400;
    font-size: 10px;
  }
  .pricing-365 .card .card-footer p{
    font-weight: 400;
    color: var(--sec-color);
    /* font-size: 18px; */
  }
  .pricing-365 .card.card.spec .card-footer p{
      color: var(--bg-color);
  }
  .pricing-365 .card .card-footer .btn-choose{
      background-color: var(--main-color);
      color: var(--bg-color);
      width: 90%;
      /* height: 3rem; */
      border-radius: 10px;
      font-weight: 500;
      font-size: 1.5rem;
  }
  .pricing-365 .card.card.spec .card-footer .btn-choose{
      color: var(--sec-color);
      background-color: var(--bg-color);
  }
  .pricing-365 .card:hover{
      background: var(--sec-color);
      -webkit-transform: scaleY(1.1);
      transform: scaleY(1.1);
      /* clip-path:inset(10% 0); */

  }
  .pricing-365 .card:hover .card-header svg path{
      fill: var(--bg-color);
  }
  .pricing-365 .card:hover .card-body svg path{
      fill: var(--org-color);
  }
  .pricing-365 .card:hover .card-body ul li span{
      color: var(--bg-color);
  }
  .pricing-365 .card:hover .card-footer h6{
      color: var(--org-color);
  }
  .pricing-365 .card:hover .card-footer p{
      color: var(--bg-color);
  }
  .pricing-365 .card:hover .card-footer .btn-choose{
    color: var(--sec-color);
    background-color: var(--bg-color);
}
/* program-case */
.program-case{
    padding: 80px 0;
}
.program-case h2{
    color: var(--main-color);
    font-weight: 700;
}
.program-case .program-row{
    padding: 80px 0 0 0;
}
.program-case .card .card-footer{
    border-top: none;
}
.program-case .card .card-header{
    padding: 0 1.7rem .5rem ;
}